# --- LaTeX intermediate files -------------------
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdy
*.xdv
# minted / pygments cache
_minted*
# latexmk internal state
*.latexmk

# --- Editor / OS cruft --------------------------
# VS Code
.vscode/
# macOS
.DS_Store
# Windows thumbnails / indexing
Thumbs.db
desktop.ini

# Intermediary build files
build/

.venv/

plotting/media/
plotting/plots/media/

__pycache__/

*.pdf